@import "settings";
@import "foundation";

header.header-overlay{
    background:transparent;
	position: absolute !important;
	left:0;
}
.wrapper{
	width: 1100px;
	margin: 0 auto;
}

#logo{
	height:60px;
	float:left;
	padding:20px 0;
	max-width:100%;
	max-height:100%;
}

.menu {
	position: relative;
	float: right;
	margin-top:35px;
}

nav#main-nav{
	z-index: 50;
	
	ul{
		position: relative;
		z-index:49;
		margin:0;
		padding:0;
		list-style:none;
		
		li{
			position: relative;
			z-index: 45;
			float: right;
			margin: 0 0 0 30px;
			padding:0;
			min-width:10px;
		}
	}

}


// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
